bower_components/jquery
bower_components/phaser/build
bower_components/phaser/docs
bower_components/phaser/resources
bower_components/phaser/tasks
bower_components/phaser/typescript
bower_components/grunt-contrib-uglify

node_modules

build
assets
tests

tags
